.camera {
    display: none;
}

.splash-container {
    background-color: #000;
    opacity: 0.6;
}

.fa-space-shuttle {
    margin-right: 45px;
}

.stylePers {
    color: #fff;
    font-size: 8em;
}

#dashboard {
    background: #111111;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #2D3E50;
    font-weight: bold;
}

#dashboard div span {
    display: block;
}